<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neuro Seed</title>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Montserrat:200,300,300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/libs.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta name="description" content="Neuro Seed is a blockchain technology-based protocol enabling everyone to produce 'pocket AI' to solve practical problems starting from everyday routine and financial issues up to global ones."/>
    <meta name="keywords" content="blockchain technology ,blockchain definition ,blockchain as a service ,blockchain algorithm ,create a blockchain ,how a blockchain works ,build a blockchain ,blockchain conference ,blockchain companies ,ai blockchain ,ai and blockchain ,ico token trading ,ico token price ,ico token exchange ,token ico ,ico token launch ,token ico ,initial coin offering (ico) ,initial coin offering ico ,initial coin offering news ,nitial coin offering platform ,initial coin offering regulation ,initial coin offering results ,initial coin offering trading ,neural network algorithm ,neural network definition ,neural network activation function ,neural network architecture ,neural network ai ,neural network analysis ,neural network book ,neural network basics ,neural network code ,neural network clustering ,neural network chatbot ,simple c neural network ,deep neural networks ,neural network explained ,neural network evolution ,neural network explanation ,neural network e commerce ,neural network function ,artificial intelligence a modern approach ,artificial intelligence jobs ,artificial intelligence definition ,artificial intelligence examples ,artificial intelligence software ,artificial intelligence news ,artificial intelligence ,artificial intelligence and machine learning ,artificial intelligence algorithms ,ai artificial intelligence ,ai artificial intelligence definition ,artificial intelligence basics ,artificial intelligence bot ,artificial intelligence blog ,artificial intelligence business ,artificial intelligence conference ,artificial intelligence certification ,artificial intelligence cyber security ,artificial intelligence c library ,artificial intelligence deep learning" />
    <script charset="UTF-8" src="//cdn.sendpulse.com/28edd3380a1c17cf65b137fe96516659/js/push/f560be71288e240f50ee6894f246cd39_1.js" async></script>
    <script>
            document.addEventListener('DOMContentLoaded' , function(){
                var getCopyright = document.querySelectorAll('footer > p.cpt')[0],
                date = new Date();
                getCopyright.innerHTML += ' ' + date.getFullYear();
            });
    </script>
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            var renderName = document.getElementsByClassName('render-item')[0].getAttribute('data-page'),
                nav = document.querySelectorAll('.nav-wrap > ul > li'),
                i = 0;
                for(i ; i < nav.length ; i++) {
                    if(nav[i].textContent.toLowerCase() == renderName.toLowerCase()) {
                        nav[i].className += ' ' + 'active';
                        break
                    }
                }
            console.log(nav.length);
        });
    </script>
    <div class="parallax-wrap">
        <section class="cabinet" id="cabinet">
            <div class="container">
                <div class="row">
                    <div class="cabinet-wrap">
                        <div class="top-nav">
                            <div class="logo-wrap hidden-xs col-sm-4 col-md-4">
                                <a href="https://neuroseed.io" alt="Main Page">Neuro Seed</a>
                            </div>
                            <div class="nav-wrap col-xs-12 col-sm-8 col-md-8">
                            <ul>
                                <li class="load"><a href="#">Dummy</a></li>
                                <li class="load"><a href="#">Dummy</a></li>
                                <li class="load"><a href="#">Dummy</a></li>
                                <li class="load" ><a href="payments">Payments</a></li>
                                <li class="load"><a href="dashboard">Dashboard</a></li>
                                <li><a href="logout">Log Out</a></li> 
                            </ul>   
                            </div> 
                        </div>
                        <div class="cabinet-content">
                            {{{body}}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <p class="cpt">Copyright © <a href="https://neuroseed.io">neuroseed.io</a></p>
        </footer>
    </div>
    <script src="/js/libs.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/parallaxbg.js"></script>
    <script src="/js/ie11fix.js"></script>
    <script src="/js/ajax.js"></script>
</body> 
</html>