@font-face {
    font-family: 'Raleway Bold';
    src: url('../fonts/raleway-bold-webfont.ttf');
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensansbold-webfont.ttf');
    src: url('../fonts/opensansbold-webfont.woff');
    src: url('../fonts/opensansbold-webfont.eot');
}
@font-face {
    font-family: 'Raleway Regular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.ttf');
    src: url('../fonts/raleway-regular-webfont.woff');
}
@font-face {
    font-family: 'Cardo Italic';
    src: url('../fonts/cardo-italic-webfont.eot');
    src: url('../fonts/cardo-italic-webfont.ttf');
    src: url('../fonts/cardo-italic-webfont.woff');
}
@font-face {
    font-family: 'Raleway Light';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.ttf');
    src: url('../fonts/raleway-light-webfont.woff');
}