$small_text: 0.9285714285714286em; //13px//
$medium_font: 2em;//28px//
$slogan_title_size: 4.642857142857143em;   //65px//
$slogan_subtitle: 1.571428571428571em; //22px//
$default_font: 1.125em; //14px//
$primary_red: #E33B42;
$primary_blue: #35385A;
$RW_Bold: 'Raleway Bold' , 'Helvetica' , 'sans-serif';
$RW_Regular: 'Raleway Regular' , 'Helvetica' , 'sans-serif';
$RW_Light: 'Raleway Light' , 'Helvetica' , 'sans-serif';
$white: #FFF;
$f_title: #2d3033;
$slider_bg: #4B3042;
