
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter45560013 = new Ya.Metrika({
                    id:45560013,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/45560013" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <div class="parallax-wrap">
        <div class="bg"></div>
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="logo">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <a href="#"><img src="images/main_logo.png" alt="Neuro Seed"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="slogan">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h1>Decentralized Evolution</h1>
                        <h2>in the world of technology</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="timer">
        <div class="container">
            <div class="row">
                <p class="title">Will launch in Aug.15'2017</p>
            </div>
            </div>
            <div class="container-fluid timer-border">
                <div class="container">
                    <div class="row">
                    <div class="main-timer">
                        <div class="tsection col-xs-3 col-sm-3 col-md-3">
                            <div id="days" class="aw">00</div>
                            days
                        </div>
                        <div class="tsection col-xs-3 col-sm-3 col-md-3">
                            <div id="hours" class="aw">00</div>
                            hours
                        </div>
                        <div class="tsection col-xs-3 col-sm-3 col-md-3">
                            <div id="minutes" class="aw">00</div>
                            minutes
                        </div>
                        <div class="tsection col-xs-3 col-sm-3 col-md-3">
                            <div id="seconds" class="aw">00</div>
                            seconds
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </section>
    <section id="form">
        <div class="container">
            
            <div class="row">
                <div class="form-wrap">
                    <form action="/action.php" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL"></label>
                    <input type="email" value="" name="email" class="email" id="mce-EMAIL" placeholder="" required>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2feb1b50dfcbf802ac280dc0a_149d520dd1" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    <span class="fakeplaceholder">Leave your email and get notified</span>
                    </div>
                </form>
                </div>
            </div>
            <div class="row">
                <div class="social-links">
                    <div class="soc-wrap">
                        <div class="item"><a href="https://www.facebook.com/NeuroSeedio-811074889059447/" title="NeuroSeed in Facebook" target="_blank"><img src="images/socimg/fb.png" alt="NeuroSeed in Facebook"></a></div>
                        <div class="item"><a href="https://twitter.com/NEUROSEED1" title="NeuroSeed in Twitter" target="_blank"><img src="images/socimg/tw.png" alt="NeuroSeed in Twitter"></a></div>
                        <div class="item"><a href="#" title="NeuroSeed in LinkedIn" target="_blank"><img src="images/socimg/in.png" alt="NeuroSeed in LinkedIn"></a></div>
                        <div class="item"><a href="#" title="NeuroSeed in Instagram" target="_blank"><img src="images/socimg/ins.png" alt="NeuroSeed in Instagram"></a></div>
                        <div class="item"><a href="https://www.reddit.com/user/NEUROSEED/" title="NeuroSeed in Reedit" target="_blank"><img src="images/socimg/re.png" alt="NeuroSeed in Reedit"></a></div>
                        <div class="item"><a href="https://neuroseed.slack.com/messages/C6L7BK9AM/team/neuroseed/" title="NeuroSeed in Slack" target="_blank"><img src="images/socimg/sl.png" alt="NeuroSeed in Slack"></a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sign-in-btns">
                    <div class="wrap" data-attr="login"><button class="cab-btn">Login</button></div>
                    <div class="wrap" data-attr="reg"><button  class="cab-btn">Register</button></div>
                </div>
            </div>
        </div>
    </section>
    <section id="stats" class="stats">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <p>Statistics</p>
                </div>
                <div class="section-content">
                    <p class="content-title">We collected</p>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="wrap">
                            <div class="crypto-icon">
                                <img src="/images/btc.svg" alt="Currency Name">
                                </div>
                            <span class="f">BTC : </span><span class="cl-amount f" data-attr="btc">0000</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="wrap">
                            <div class="crypto-icon">
                                <img src="/images/eth.svg" alt="Currency Name">
                                </div>
                            <span class="f">ETH : </span><span class="cl-amount f" data-attr="eth">0000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hidden-forms">
        <div class="login">
                <div class="cabinet-form-wrap" id="login-form">
                <form method="post" action="users/login/" class="main-form" id="login">
                    <p class="form-name">Sign in</p>
                    <label>
                        <span class="input-name">Username:</span>
                        <input type="text" name="username" placeholder="Username" required>
                    </label>
                    <label>
                        <span class="input-name">Password:</span>
                        <input type="password" name="password" placeholder="Password" required>
                    </label>
                    <div class="btns-wrap">
                        <button type="submit" class="form-btns"> Submit</button>
                        <a href="/users/register" class="form-btns">Sign Up</a>
                        <a href="/users/pwdrecovery/" class="extrabtn form-btns">Forgot your password?</a>
                    </div>
            </form>
            </div>
        </div>
        <div class="register">
            <div class="cabinet-form-wrap" id="register-form">
                <form method="post" action="users/register/" id="regform" class="main-form">
                    <p class="form-name">Registration</p>
                    <label>
                        <span class="input-name">Name:</span>
                        <input type="text" placeholder="Name" name="name">
                    </label>
                    <label>
                        <span class="input-name">Username:</span>
                        <input type="text" name="username" placeholder="Username">
                    </label>
                    <label>
                        <span class="input-name">Email:</span>
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </label>
                    <label>
                        <span class="input-name">Password:</span>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </label>
                    <label>
                        <span class="input-name">Repeat password:</span>
                        <input type="password" name="password2" placeholder="Password">
                    </label>
                    <button type="submit" class="form-btns">Submit</button>
                    <a href="/users/login" class="extrabtn form-btns">Login?</a>
            </form>
            </div>
        </div>
    </section>
    </div>
    <script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/parallaxbg.js"></script>
    <script src="js/newtimer.js"></script>
    <script src="js/ie11fix.js"></script>